.HeaderFieldset
{
border: 2px solid #1ab2b31ab2b3;
border: 0px;
background-color: #1ab2b3;
width:100%;
height:60px;
position:relative;
left:-10px;
top:-10px;

}

.HeaderFieldset img
{
position:relative;
left:20px;
top:0px;
}



.header1
{
	font-family:"Palatino Linotype";
	text-decoration: none;
	position: absolute;
	left:50%;
	top:40%;
	color:#FFFFFF;

}

.header2
{
	font-family:"Palatino Linotype";
	text-decoration: none;
	position: absolute;
	left:56%;
	top:40%;
	color:#FFFFFF;

}

.header3
{
	font-family:"Palatino Linotype";
	text-decoration: none;
	position: absolute;
	left:61%;
	top:40%;
	color:#FFFFFF;
}

.header4
{
	font-family:"Palatino Linotype";
	text-decoration: none;
	position: absolute;
	left:66%;
	top:40%;
	color:#CCCCCC;
}

.header5
{
	font-family:"Palatino Linotype";
	text-decoration: none;
	position: absolute;;
	left:72%;
	top:40%;
	color:#FFFFFF;
}

.header6
{
	font-family:"Palatino Linotype";
	text-decoration: none;
	position: absolute;
	left:80%;
	top:40%;
	color:#FFFFFF;
}

.SearchBar
{
	width: 700px;
	height: 30px;
	position: absolute;
	left: 50%;
	margin-left: -350px;
	top:25%;
	font-size: medium;

}

.SearchButton
{
	position: absolute;
	left:50%;
	margin-left: -75px;
	top:35%;
	border : 2px solid #1ab2b3;
  	background-color: #FFFFFF;
  	width:150px;
  	height:35px;
  	font-family:"Palatino Linotype";
  	font-size:large;
  	text-align:center;
}

.RefreshCacheButton
{
	position: absolute;
	left:50%;
	margin-left: 200px;
	top:35%;
	border : 2px solid #1ab2b3;
  	background-color: #FFFFFF;
  	width:300px;
  	height:35px;
  	font-family:"Palatino Linotype";
  	font-size:large;
  	text-align:center;
}

.AllStreamsDisplay
{
	height: auto;
	border: 0px solid #1ab2b3;
	width: auto;
	position: relative;
	top:320px;

}

.streamButton
{
	color: #FFFFFF; 
	font-size: large;
	position:relative;
	height:200px; width:280px;
	margin-left: 20px;
	margin-top: 20px
	
}

.NoResult
{
	font-size: medium;
	font-family: "Consolas";
	width:400px;
	position: absolute;
	left: 50%;
	margin-left: -200px;
	top:20%;
	text-align: center;
}


.NoResult2
{
	font-size: medium;
	font-family: "Consolas";
	width:400px;
	position: relative;
	left: 50%;
	margin-left: -200px;
	top:-100px;
	text-align: center;

}

.RefreshCacheButton
{
	position: relative;
	top:220px;
	left:290px;
}